
  .text {

    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: rgba(11, 168, 241, 0.7);
   
       
    
  }